<div class="block">
  <%= form.label :title, class: "label" %>
  <%= form.text_field :title, class: "input is-large" %>
</div>
<%= render "shared/image_field", form: form, attribute: :cover_photo, label: t(".cover_photo") %>
<layout-columns class="columns is-centered">
  <layout-column class="column box is-half mt-6 p-5 m-4">
    <div class="is-flex is-flex-direction-column">
      <form-field class="field">
        <%= form.label :price, class: "label" %>
        <form-field class="field has-addons">
          <p class="control">
            <a class="button is-static">
              KSH
            </a>
          </p>
          <div class="control is-expanded">
            <%= form.text_field :price, inputmode: :numeric, class: "input" %>
          </div>
        </form-field>
      </form-field>
      <form-field class="field">
        <%= form.label :condition, class: "label" %>
        <div class="select is-fullwidth">
          <%= form.select :condition, Listing.human_enum_options(:condition) %>
        </div>
      </form-field>
      <form-field class="field">
        <%= render "tags_field", form: form %>
      </form-field>
      <form-field class="field">
        <%= form.label :address, class: "label is-large" %>
        <div class="box">
          <%= render "addresses/fields", form: form %>
        </div>
      </form-field>
    </div>
  </layout-column>
  <layout-column class="box column is-half mt-6 p-5 m-4">
  </layout-column>
</layout-columns>