<%= tag.image_upload_field(
    data: {
        controller: "image-upload",
        image_upload_blob_url_template_value:
            rails_service_blob_url(
                ":signed_id", ":filename"
            )
    }
) do %>
  <div class="file is-large is-boxed is-centered">
    <label class="file-label" data-image-upload-target="cta">
      <%= form.file_field(
                nil,
                id: nil,
                # attribute, 
                class: "file-input",
                direct_upload: true,
                required: true,
                data: {
                    action: "image-upload#upload",
                    image_upload_target: "fileInput"
                }
            ) %>
      <%= form.hidden_field(
                attribute,
                value: form.object.cover_photo&.signed_id,
                data: {
                    image_upload_target: "hiddenInput"
                }
            )%>
      <span class="file-cta">
        <%= svg "upload", class: "file-icon" %>
        <span class="file-label">
          <%= label %>
        </span>
      </span>
    </label>
  </div>
  <figure class="image is-relative">
    <% url = 
        form.object.cover_photo.present? ?
            url_for(form.object.cover_photo) : ""
    %>
    <%= image_tag url, data: { image_upload_target: "preview"} %>
  </figure>
  <progress
    value="0"
    max="100"
    class="progress is-primary"
    data-image-upload-target="progress"
  ></progress>
  <%= tag.div(
    class: "buttons is-centered is-hidden mt-3",
    data: {
        image_upload_target: "remove"
    }
  ) do %>
    <%= tag.button(
        class: "button is-danger",
        type: "button",
        data: {
            action: "image-upload#remove"
        }
    ) do %>
      <%= t(".remove_image")%>
    <% end %>
  <% end %>
<% end %>