<layout-columns class="columns is-centered">
  <layout-column class="column box is-5 mt-6 p-5 m-4">
    <h1 class="title has-text-centred">
      <%= t(".title") %>
    </h1>
    <%= form_with(
            model: @user, 
            url: users_password_reset_path(params[:id]),
            method: :patch,
            class: "is-flex is-flex-direction-column" 
        ) do |form| %>
      <div class="block">
        <%= form.label :password, class: "label" %>
        <%= form.password_field :password, class: "input" %>
      </div>
      <%= form.submit t(".submit"), class: "button is-primary is-align-self-flex-end mb-3 mt-3" %>
    <% end %>
  </layout-column>
</layout-columns>