<div class="container mt-3">
  <% page = (params[:page] || 1).to_i %>
  <% page = 1 if page <= 0 %>
  <%= turbo_frame_tag "saved_listings_page_#{page}", target: "_top" do %>
    <layout-columns class="columns is-centered is-multiline">
      <%= render partial: @listings, layout: "feed/listing_layout" %>
    </layout-columns>
    <%# Infinite scroll trigger - only for native app %>
    <% if turbo_native_app? && @pagy.next %>
      <div data-controller="infinite-scroll"
           data-infinite-scroll-next-page-value="<%= @pagy.next %>"
           data-infinite-scroll-url-value="<%= saved_listings_path(page: @pagy.next) %>"
           data-infinite-scroll-frame-prefix-value="saved_listings_page"
           class="has-text-centered p-5 mt-4"
           style="min-height: 100px;">
        <div class="is-flex is-justify-content-center">
          <span class="button is-loading is-light">Loading your saved listings...</span>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%# Web pagination %>
<% if !turbo_native_app? && @pagy.pages > 1 %>
  <%= tag.div class: "container m-5 mt-6" do %>
    <%= render "pagy/nav", pagy: @pagy %>
  <% end %>
<% end %>