<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render "shared/navbar" unless turbo_native_app? %>
    <%= render "shared/flashes"%>
    <% if breadcrumbs.show? && !turbo_native_app? %>
      <%= render "shared/breadcrumbs" %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
